<div class="sidebar-main-frame">
  <div class="info">
    <h2>Servers List</h2>
  </div>
  <div class="sidebar-search">
    <input type="text" class="sidebar-search-text" placeholder="Search Servers"/>
  </div>
  <div class ="sidebar-view-head">Views</div>
    <ul>
      <li (click)="viewClick(1)">CPU</li>
      <li (click)="viewClick(2)">Procesess</li>
      <li (click)="viewClick(3)">Memory</li>
    </ul>
  <div class="sidebar-view-head">Hosts</div>
    <ul>
      <li *ngFor="let host of hosts" (click)="hostClick(host.id)"><div>{{host.name}}</div><div class="host-info" (click)="viewClick(4)">I</div></li>
    </ul>
</div>
